
  .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #0AF;
    transition: transform 500ms ease-in-out;
    transform: scaleX(0);
    transform-origin: 90%; /* Start the transition from the middle of the button */
    border-radius: inherit; /* Match the border-radius of the button */
  }
  
  .button:hover::before,
  .button:focus::before {
    transform: scaleX(1);
  }
  
  .button {
    position: relative;
    cursor: pointer;
    transition: color 300ms ease-in-out;
    z-index: 1;
  }
  

  .shadow-border {
    box-shadow: 0 1px 0 0 white;
    border-radius: 50%;
  }
  