
@import 'boxicons/css/boxicons.min.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

/* hover:after:trasnform hover:after:scale-x-[1] hover:after:bottom-1 */
/* project image zoom effect */

/* .zoom-effect {
  overflow: hidden;
  transition: transform  0.3s ease-out;
}

.zoom-effect:hover {
  transform: scale(1.1);
} */

/*------------------------------Side Bar----------------------------------*/
  /* Nested styles for sidebar */
/* Converted styles */
 .sidebar {
  @apply top-0 fixed  h-full bg-[#232b2b] z-[1000] ;

  .sidebar-container {
    @apply h-full w-full flex flex-col mt-[70px];

    .menu-icon {
      @apply text-white ml-2 mr-[10px] mt-2 flex justify-end hover:cursor-pointer
    }

    /*  Nested styles for profile */
    .profile {
      @apply  items-center mx-auto mt-3 relative;

      img {
        @apply w-[150px] h-[150px] border-8 border-gray-400 rounded-full object-cover mx-auto;
      }

      .profile-info {
        @apply font-bold text-white text-2xl flex justify-center items-center mb-2 mt-1;
      }

    
      .Social {
        @apply flex justify-center items-center mt-3 mx-auto gap-3;
      }

      .Social-icon {
        @apply  w-8 h-8 flex justify-center items-center bg-gray-600 rounded-full text-xl text-white;
      }
    }

     /* Nested styles for menu */
    .menu {
      @apply flex flex-col justify-center items-center text-gray-400 mt-10 relative;

      .menu-item {
        @apply flex items-center justify-start mt-5 text-xl font-semibold;

        &:hover {
          @apply bg-gray-700 text-white rounded-full px-6 py-2 items-center transition duration-500 ease-in-out cursor-pointer;
        }

        i{
          @apply pr-3;
        }
      }
    }
  }
} 

 /* Custom CSS classes and components */
@layer components {
  .primary-btn {
    @apply inline-block bg-primary text-white cursor-pointer hover:bg-primary/80 py-2 px-4 my-3 rounded-lg;
  }

  .outline-btn {
    @apply inline-block ring-2 ring-primary inset-0 text-primary cursor-pointer hover:bg-primary/80 hover:text-white py-2 px-4 my-3 rounded-lg;
  }

  .social-btn {
    @apply text-5xl hover:text-primary duration-200 cursor-pointer;
  }

  .page-shadow {
    @apply shadow-[inset_0_0_8px_rgba(0,0,0,0.6),12px_12px_14px_rgba(0,0,0,0.9)];
  }
} 


/*------------------Bar animation----------------*/
@keyframes moveLeftToRight{
  0% {
    left: 0px;
  }
  100% {
    left: 300px;
  }
}
.animate-lefttoright{
  animation: moveLeftToRight 3s infinite ease-in-out;
}

/*Bar size*/
@layer components {
  .bar {
    @apply relative z-10 inline-block h-1.5  overflow-hidden rounded-full bg-primary bg-opacity-20;
  }

  .smallbar {
    @apply absolute left-0 top-0 inline-block h-full w-3 rounded-full bg-zinc-200 animate-lefttoright;
  }
}
/* @layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1px white;
  }
} */



/*----------------------------Resume-------------------------*/

/*Background Image in resume page*/
.resume-container {
  background: url('/assets/W.png') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}

.responsive-flipbook {
  width: 300; /* 100% of viewport width */
  height: 560; /* 100% of viewport height */
}


/*DP Image in resume */
/* CSS */
.dp_img {
  width: 100%;
}

/*For resume DP */
@media (max-width: 639px) {
  .responsive-image {
    width: 250px; /* Adjust this value as needed */
    height: 300px; /* Adjust this value as needed */
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .responsive-image {
    width: 350px; /* Adjust this value as needed */
    height: 400px; /* Adjust this value as needed */
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .responsive-image {
    width: 400px; /* Adjust this value as needed */
    height: 450px; /* Adjust this value as needed */
  }
}

@media (min-width: 1024px) {
  .responsive-image {
    width: 450px; /* Adjust this value as needed */
    height: 500px; /* Adjust this value as needed */
  }
}

.list-square{
  list-style-type: square;
}

/*paragraph*/
.hyphenate {
  word-break: break-all;
  hyphens: auto;
  overflow-wrap: break-word;
}

/*skills bar*/
.circular-progressbar-container {
  max-width: 100px; /* Adjust the max-width as needed */
  height: auto;
}

@media (min-width: 1920px) {
  .circular-progressbar-container {
    max-width: 150px; /* Adjust the max-width for larger screens */
  }
}

.svg-container{
  position: absolute;/* or position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%; /* Adjust as needed */
}

.sidebar__link {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  padding: 0.8rem 1rem;
  display: flex;
  background-color: var(--color-sidebar-item);
  margin-bottom: 1rem;
  border-radius: 0.8rem;
}

.sidebar__link--active {
  color: #fff;
  background-color: #10b981;
}